/* login */
.login {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../images/login_bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 138px;
    box-sizing: border-box;
    margin: 0;
}
.login a.logo {
    width: 186px;
    height: 65px;
    display: block;
    margin: 0 auto 64px;
    background: url(../images/header_logo.png) no-repeat center;
    background-size: cover;
}
.login .login-box {
    width: 425px;
    /* height: 334px; */
    border-radius: 4px;
    background-color: #f5f5f5;
    display: block;
    margin: 0 auto;
    padding: 30px 43px 45px;
}
.login .login-box h4 {
    font-size: 22px;
    color: #151515;
    font-weight: bold;
    margin-bottom: 50px;
}
.login .login-box .input-box {
    width: 338px;
    height: 45px;
    border-radius: 4px;
    /* overflow: hidden; */
    display: block;
    position: relative;
    margin: 0 auto 26px;
    background-color: #fff;
    border: 1px solid #eee;
}
.login .login-box .input-box.password-input {
    margin-bottom: 0;
}
.login .login-box .input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding-left: 21px;
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
}
.login .login-box .login-btn {
    width: 338px;
    height: 45px;
    margin: 31px auto 0;
    display: block;
    background: #d73f23;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    line-height: 45px;
}
.login span.link {
    font-size: 16px;
    color: #fff;
    display: block;
    margin: 81px auto 0;
}
.login span.link a {
    color: #d73f23;
}

/* register */
.register {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../images/register_bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 53px;
    box-sizing: border-box;
}
.register .register-box {
    width: 640px;
    /* height: 690px; */
    border-radius: 4px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    padding: 0 35px 0 29px;
}
.register .register-box h4 {
    font-size: 24px;
    color: #151515;
    line-height: 70px;
    border-bottom: 1px solid #f0f0f0;
}
.register .register-box .register-content {
    padding: 0 111px 0 95px;
    box-sizing: border-box;
}
.register .register-box .input-box {
    width: 100%;
    height: 44px;
    /* overflow: hidden; */
    display: block;
    margin: 26px auto 0px;
    position: relative;
}
.register .register-box .input-box span.span-title {
    width: 66px;
    height: 44px;
    line-height: 44px;
    /* display: inline-block; */
    font-size: 14px;
    color: #151515;
    text-align: right;
    margin-right: 18px;
    float: left;
}
.register .register-box .input-box span b {
    color: #e94a2b;
    vertical-align: -2px;
    margin-right: 2px;
}
.register .register-box .input-box select,
.register .register-box .input-box .area,
.register .register-box .input-box input {
    width: 350px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #b4b9bd;
    padding-left: 15px;
    box-sizing: border-box;
    color: #999;
    font-size: 14px;
    float: left;
}
.register .register-box .input-box select,
.register .register-box .input-box .area {
    width: 230px;
    background-color: #f5f5f5;
    border-color: #b4b9bd;
}
.register .register-box .input-box .area {
    width: 100px;
    line-height: 44px;
    margin: 0 0 0 20px;
    text-align: left;
}
.register .register-box .input-box.code input {
    width: 210px;
}
.register .register-box .input-box.code a {
    width: 120px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #df4425;
    border-radius: 2px;
    border: 1px solid #df4425;
    float: right;
}
.input-box span.error {
    display: none;
    position: absolute;
    bottom: -26px;
    /* left: 94px; */
    left: 50%;
    margin-left: -162px;
    line-height: 26px;
    font-size: 14px;
    color: #df4425;
}
.input-box.warning span.error {
    display: block;
}
.register .register-box .input-box.agreement {
    height: 14px;
    line-height: 14px;
}
.register .register-box .input-box.agreement span {
    height: 100%;
    float: left;
}
.register .register-box .input-box.agreement input {
    width: 1px;
    border-color: #d9d9d9;
    padding: 0;
    visibility: hidden;
}
.register .register-box .input-box.agreement .agreement-span {
    width: max-content;
    font-size: 12px;
    color: #878787;
    margin-right: 5px;
    line-height: 14px;
}
.register .register-box .input-box.agreement a {
    color: #3182dd;
    font-size: 12px;
    float: left;
}
.register .register-box .input-box.agreement .agreement-span::before {
    content: ' ';
    width: 11px;
    height: 11px;
    border: 1px solid #d9d9d9;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    color: #df4425;
    font-size: 14px;
    line-height: 1;
}
.register .register-box .input-box.agreement .agreement-span.active::before {
    content: '\2714';
}
.register .register-box .register-btn {
    width: 368px;
    height: 50px;
    margin: 29px auto;
    display: block;
    background: #d73f23;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    line-height: 50px;
    float: right;
}
.register .register-box span.link {
    font-size: 16px;
    color: #151515;
    display: block;
    margin: 0 0 33px 72px;
    text-align: left;
}
.register .register-box span.link a {
    color: #d73f23;
}